<!DOCTYPE html>
<html lang="js">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>新規作成</h1>

        <form action="/update/" method="POST">
            <div>タイトル<input type="text" name="title"></div>
            <div>作者<input type="text" name="author"></div>
            <div>内容<textarea name="body" rows="20" cols="80"></textarea></div>
            <div><input type="submit" value="Save"></div>
        </form>
    </body>

</html>
