<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>index</h1>
        <h2>this is wiki enjoy!</h2>
        <a href="/create">
            <h2>make new</h2>
        </a>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Author</th>
                    <th>UpdatedAt</th>
                    <th>url</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{range .res}}
                    <th>{{.Title}}</th>
                    <th>{{.Body}}</th>
                    <th>{{.Author}}</th>
                    <th>{{.UpdatedAt}}</th>
                    <th><a href="/show/{{.Title}}">url</a></th>
                    {{end}}
                </tr>
            </tbody>
        </table>
    </body>

</html>
